APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:aOpCE61OTb9/BEUJjXyWAREpfzsZDkCOyDRBlcIxmZE=
APP_DEBUG=true
APP_URL=http://localhost:8000

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DB_HOST=ep-still-bar-abvbwutx-pooler.eu-west-2.aws.neon.tech
DB_PORT=5432
DB_DATABASE=neondb
DB_USERNAME=neondb_owner
DB_PASSWORD=npg_zuC6f2aLmJPY
DB_SSLMODE=require

#DB_CONNECTION=pgsql
#DB_HOST=bites_app_postgres
#DB_PORT=5432
#DB_DATABASE=neondb-locale
#DB_USERNAME=root
#DB_PASSWORD=root

SESSION_DRIVER=file
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database
# CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=log
MAIL_SCHEME=null
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"

# RabbitMQ
RABBITMQ_HOST=rat.rmq2.cloudamqp.com
RABBITMQ_PORT=5672
RABBITMQ_USER=igcutokg
RABBITMQ_PASSWORD=zFhpThErZ4TTLLWe_o0siyA1bmKmKP6H
RABBITMQ_VHOST=igcutokg
RABBITMQ_QUEUE=file-events

# Google Cloud Storage
GCS_ENDPOINT=https://storage.googleapis.com
GCS_ACCESS_KEY=GOOG72UXFACDFVRSWVQ3F42L
GCS_SECRET_KEY=ukaSx/kUAtIQFZDkjd0XN3fWZzVQ2uYvvsN6EyJk
GCS_BUCKET=bites-files

# Cloudflare R2 Storage
R2_ENDPOINT=https://406ecf7cd6d082274cc9c25a83832e3a.r2.cloudflarestorage.com
R2_ACCESS_KEY=63567192312f6985ceb8c7c75082affd
R2_SECRET_KEY=1c4422739294603c2f88c137ca3b76024e8f5da0bee6a142fff7001a7761397b
R2_BUCKET=bites-files
